/**************************** CONTEINERS STYLING ********************/
.wrapper{
    overflow: hidden;
}
.conteiner{
  max-width: 1340px;
  margin: 0 auto;
  
}

/*************************** FIRST PAGE STYLING  *******************************/
.first__logo{
  width: 47%;
  height: 26%;
  min-width: 300px;
  min-height: 166px;
}

.first__title{
  font-weight: 900;
  font-size: 75px;
}
.first__text{}
.first__square1{
  height: 15vw;
  width: 15vw;
  top: 10vw;
  left: -28%;
}

.first__img{
  height: 86%;
  width: 64%;
}

.first__square2{
  height: 15vw;
  width: 15vw;
  top: -15vw;
  left: 24.5%;
}

/***************************** ABOUT US PAGE STYLING ***********************/

.about-us__title{}
.about-us__text{}
 .about-us__square1{
  height: 18%;
  width: 18%;
  left: 100%;
 }

/*********************** FOUUDER PAGE STYLING ******************************/

 .founder__photo{
  height: 50%;
  width: 43%;
  left: 5%;
 }
 .founder__square{
  height: 24%;
  width: 18%;
  top: 60px;
 }
 .founder__square1{
  height: 13.8%;
  width: 12%; 
  left: 90%;
}
 .founder__title{}

/******************* STYLES PAGE STYLING ************************/
.styles__sqare1{
  height: 15vw;
  width: 15vw;
  
  top: 4vw;
  margin-top: -50px;
}
.styles__sqare2{
  height: 15vw;
  width: 15vw;
  top: -17vw;
  left: 55vw;
  margin-bottom: -20vw;
}
.styles__img{
  height: 33vw;
  width: 62vw;
  z-index: 5;
  top:-7vw;
  left: 5%;
}
.styles__title{}
.styles__square3{
  height: 13vw;
  width: 11.4vw; 
  left: 90%;
}

/******************** YOUR STYLE STYLING *********************/

.your-style{
  display: flex;
  flex-direction: column;
  align-items: center;
}.your-style__photo1{
  height: 12.4cm;
  width: 25cm;
  top: -2.3cm;
  left: 1cm;
}.your-style__photo2{
  height: 8.6cm;
  width: 16.5cm;
  top: -2.8cm;
  left: 450px;
  z-index: 5;
}.your-style__photo3{
  height: 10.7cm;
  width: 15.7cm;
  top: -490px;
}
.your-style__sqare1{
  height: 1cm;
  width: 6cm;
  left: 80%;
  margin-top: -50px;
  margin-bottom: 20px;
}
.your-style__sqare2{
  height: 5.3cm;
  width: 3.5cm;
}
.your-style__sqare3{
  height: 5.5cm;
  width: 4cm;
  left:105%;
  margin-top: -650px;
  z-index: -1;
}

.your-style__text{
  margin-bottom: 1cm;
  max-width: 1000px;
}

/******************* DISCOUNT PAGE STYLING *******************/
.discount__img1{
  height: 12.6cm;
  width: 18.9cm;
  top: -13cm;
  left: 3cm;
}
.discount__img2{
  height: 11.8cm;
  width: 17.7cm;
  top: -3cm;
  left: -10cm;
  z-index: 3;
}
.discount__img3{
  height: 9cm;
  width: 12cm;
  top: 4cm;
  left: -34cm;
  z-index: 2;
}
.discount__img4{
  height: 8.4cm;
  width: 11.1cm;
  top: 7cm;
  left: -35cm;
}
.discount__square{
  height: 14.6cm;
  width: 2cm;
  top: 12cm;
}
.discount__body{
  margin: 50px -1320px 5cm 50px;
}
/**************************** STAGES PAGE STYLING ********************/
.stages__img{
  height: 11.4cm;
  width: 20.2cm;
  left: 5cm;
}
.stages__square{
  height: 14.6cm;
  width: 1.9cm;
  position: relative;
  top: -19cm;
  left: 25cm;
}
.stages__body{
  margin-bottom: -500px;
}

/**************************** REVIEWS PAGE STYLING ***********************/
.reviews-square{
  height: 1.5cm;
  width: 3.8cm;
  top: 50px;
  margin-bottom: 50px;
}
.reviews__img{
  height: 10.6cm;
  width: 20.1cm;
  left: 40px;
}
.reviews__img2{
  height: 13cm;
  width: 22.9cm;
}
.reviews__img3{
  height: 18.2cm;
  width: 21.2cm;
  margin-bottom: -170px;
}
.reviews__text{
  margin-top: 60px;
}
.reviews__text::before{
  content: url('../assets/27.png');
  position: relative;
  left: -20px;
}

/******************************* IMAGE REVIEWS PAGE STYLING ************************/
.img-reviews__img-chat1{
  top:23cm;
  margin-bottom: 23cm;
}

.img-reviews__title{
  text-align: center;
}

.img-reviews-chat1{
  height: 20cm ;
  width: 16.3cm;
}
.img-reviews-chat2{
  height: 23.3cm;
  width: 15.4cm;
}
.img-reviews-chat3{
  height: 20cm;
  width: 15.3cm;
}
.img-reviews-chat4{
  height: 22.7cm;
  width: 16cm;
}
.img-reviews-chat5{
  height: 23.7cm;
  width: 16cm;
}
.img-reviews-chat6{
  height: 19.3cm;
  width: 15.1cm;
}

/*********************** SPECIAL PAGE STYLING *****************/
.special__body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.special__img{
  height: 22.5cm;
  width: 28.6cm;
  margin-top: -50px;
}

.special__text{
  background-color: rgb(22,100,216);
  color: white;
  padding: 50px 30px;
}

/********************************** WHY US PAGE STYLING ****************/
.why-us__body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.why-us__text{
  background-color: rgb(22,100,216);
  color: white;
  padding: 30px 50px;
  margin: 30px;
}

.why-us__img{
  height: 15.2cm;
  width: 22.9cm;
}
/******************************* FOOTER STYLING*****************/

.footer__img{
  height: 22.4cm;
  width: 19.5cm;
}

.footer__body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__title{
  background-color: rgb(22,100,216);
  color: white;
  padding: 30px 70px;
}
.footer__contacts{
  background-color: rgb(22,100,216);
  color: white;
  font-size: 52px;
  padding: 20px 50px;
}
.contacts__whatsup{
  margin-right: -190px;
}
.whatsup__link::after{
  content:'КЛИКАБЕЛЬНО';
  font-size: 26px;
  text-decoration: none;
  position: relative;
  top: 50px;
  left: -410px;
}
.whatsup__icon{
  height: 125px;
  width: 110px;
}
.contacts__phone{
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.phone__icon{
  height: 85px;
  width: 85px;
}


@media screen and (max-width: 800px) {
  .first__title{
    font-size: 55px;
  }
  .block-title{
    font-size: 40px;
  }
  .text{
    font-size: 25px;
  }
  .divider{
    height: 1cm;
  }
}

@media screen and (max-width: 500px) {
  .first__title{
    font-size: 45px;
  }
  .block-title{
    font-size: 25px;
  }
  .text{
    font-size: 20px;
  }
}
